
*.cache
.firebase
.firebase\burley-maids\
.firebase/node_modules
burley-maids/node_modules
burley-maids/package-lock.json
/burley-maids/.next
burley-maids\.next
burley-maids\.next\build-manifest.json
burley-maids\.next\cache\webpack\client-development\0.pack
burley-maids\.next\cache\webpack\client-development\2.pack
burley-maids\.next\cache\webpack\client-development\index.pack
burley-maids\.next\cache\webpack\client-development\index.pack.old
burley-maids\.next\cache\webpack\server-development\0.pack
burley-maids\.next\cache\webpack\server-development\1.pack
burley-maids\.next\cache\webpack\server-development\2.pack
burley-maids\.next\cache\webpack\server-development\index.pack
burley-maids\.next\cache\webpack\server-development\index.pack.old
burley-maids\.next\server\middleware-build-manifest.js
burley-maids\.next\server\middleware-manifest.json
burley-maids\.next\server\middleware-react-loadable-manifest.js
burley-maids\.next\server\next-font-manifest.js
burley-maids\.next\server\pages-manifest.json
burley-maids\.next\server\pages\_app.js
burley-maids\.next\server\pages\_document.js
burley-maids\.next\server\pages\_error.js
burley-maids\.next\server\webpack-runtime.js
burley-maids\.next\trace