
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: 'Brush Script';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../public/fonts/brushScript/Brush\ Script\ Regular.ttf')
}
@font-face{
  font-family:'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../public/fonts/sourceCodePro/SourceCodePro-Italic-VariableFont_wght.ttf')
}

html,
body {
  @apply font-SourceCodePro 

}

#__next{
  min-width: 300px;

}

/* GLobal styling framework */
.main-page-container{
 @apply h-auto w-screen flex  flex-col items-center overflow-hidden  bg-frenchGray
 
}
.main-inner-page-responsive{
  @apply 
  /* w-11/12
  w-screen */
  sm:w-screen
  md:w-screen
  lg:w-11/12
  xl:w-4/5
  2xl:w-4/5
 h-auto flex justify-center
}
.main-page-content{
  @apply w-full flex flex-col
}

/* Individual Componenet styles */

/* Main Page, Services componenet */

.service-box-main-page{
  @apply
   hover:contrast-200
   
   h-52
   w-52 
   flex
   justify-center
   bg-lavendarWeb
   rounded-full
   mx-2
 
}


.service-box-main-page-h3{
  @apply
  text-2xl
  text-center
  font-bigBold
  py-5
}
