
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: 'Brush Script';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../public/fonts/brushScript/Brush\ Script\ Regular.ttf')
}
html,
body {
  @apply font-SourceCodePro
}
