
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: 'Brush Script';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../public/fonts/brushScript/Brush\ Script\ Regular.ttf')
}
@font-face{
  font-family:'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../public/fonts/sourceCodePro/SourceCodePro-Italic-VariableFont_wght.ttf')
}

html,
body {
  @apply font-SourceCodePro  bg-ghostWhite

}

#__next{
  min-width: 300px;

}
a{
  @apply transition duration-300 ease-in-out
}
/* GLobal styling framework */
.main-page-container{
 @apply h-auto w-screen flex  flex-col items-center overflow-hidden  bg-frenchGray
 min-h-screen
 
}
.main-inner-page-responsive{
  @apply 
  /* w-11/12
  
  w-screen */
  min-h-screen
  bg-ghostWhite
  sm:w-screen
  md:w-screen
  lg:w-11/12
  xl:w-4/5
  2xl:w-4/5
 h-auto flex justify-center
}
.main-page-content{
  @apply w-full flex flex-col
}

/* Individual Componenet styles */

  /* Main Page, Services componenet */

.service-box-main-page{
  @apply
   hover:contrast-200
   
   h-52
   w-52 
   flex
   justify-center
   bg-lavendarWeb
   rounded-full
   mx-2
   drop-shadow-2xl
 
}


.service-box-main-page-h3{
  @apply
  text-2xl
  text-center
  font-bigBold
  py-5
}
/* Services Page */
.service-card{
  @apply bg-lavendarWeb flex flex-col mt-10  p-4 w-5/6 rounded-[2rem]
  sm:flex-col
  md:flex-col
  lg:flex-row
  xl:flex-row
  2xl:flex-row
}
.service-card-icon-title{
   @apply m-4 h-full flex flex-col items-center
   sm:m-0 sm:mt-4
   md:m-0 md:mt-4
   lg:m-4 lg:mt-7
   xl:m-4 xl:mt-7
   2xl:m-4 2xl:mt-7
}
.service-card-icon-link{
  @apply h-52
  w-52 
  flex
  justify-center
  bg-ghostWhite
  rounded-full
  mx-2
  hover:scale-110
  hover:drop-shadow-2xl
  sm:m-0 sm:mt-2
  md:m-0 md:mt-2

  
}
.service-card-p{
  @apply text-left text-black font-SourceCodePro
  sm:m-0 sm:px-2 sm:mt-0
  md:m-0 md:px-2 md:my-0
  lg:p-6 lg:my-6
  xl:p-6 lg:my-6
  2xl:p-6 xl:my-6
}
.servuce-card-link-button{
  @apply text-ghostWhite bg-zaffra p-4 rounded-lg text-center w-5/12 hover:scale-125 text-2xl font-bigBold m-4
}

.form-field{
  @apply flex flex-col w-1/2 p-5
}
.form-field label{
  @apply flex
}

.form-field input {
  @apply flex h-12 rounded-lg px-4
}
.double-form-field{
  @apply flex justify-evenly
}
.form-checks-groups{
  @apply flex justify-evenly 
}
.form-checks-groups input{
  @apply scale-150 mx-7
}
.form-check-group{
  @apply flex
}

